MODEL_SOURCE=whisper
CASH_THRESHOLD=2

GENERATOR_MODEL_PROVIDER=openai

GENERATOR_MODEL=text-davinci-002

GENERATOR_TEMPERATURE=0.5

OPENAI_API_KEY=YOUR_OPENAI_KEY
PALM_API_KEY=YOUR_PAL_KEY

RUN_IN_DEV_ENV=1