MODEL_SOURCE=whisper
CASH_THRESHOLD=2
DEFAULT_LOOP_THRESHOLD_PER_100000_CHARS=10
DEFAULT_TIMEOUT_IN_MIN_PER_100000_CHARS=10

GENERATOR_MODEL_PROVIDER=openai

GENERATOR_MODEL=text-davinci-002

GENERATOR_TEMPERATURE=0.5

OPENAI_API_KEY=YOUR_OPENAI_KEY
PALM_API_KEY=YOUR_PAL_KEY

DEV=False